.toManager {
    position: absolute;
    right: 0;
    margin: 15px 30px 0 0;
    font-size: 12px;
}

.toManager:hover {
    color: #BFBFBF;
    cursor: pointer;
}

.toHome {
    margin: 15px 0 0 30px;
    font-family: GowunBatang, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.toHome:hover {
    color: #BFBFBF;
    cursor: pointer;
}

.box {
    margin: 30px;
    display: flex;
    border: 1px dashed deeppink;
}

.content {
    display: block;
    padding: 15px 20px;
}

.menu {
    width: 200px;
    height: 550px;
    background-color: white;
    border: 1px solid #D9D9D9;
}

.btn {
    margin: 15px;
    width: 170px;
    height: 50px;
    background-color: transparent;
    color: black;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-family: NanumSquareB, sans-serif;
    font-size: 16px;
}

.on {
    background-color: #5B9BD5;
    color: white;
}

.guide {
    margin-bottom: 15px;
    font-family: NanumSquareB, sans-serif;
    font-size: 20px;
    color: #5B9BD5;
}

.title {
    margin: 20px 0;
    font-family: NanumSquareB, sans-serif;
    font-size: 16px;
    color: black;
}

.subtitle {
    width: 120px;
    font-family: NanumSquareR, sans-serif;
    font-size: 14px;
    color: black;
}

.subcontent {
    display: flex;
    margin: 10px 0;
}