.header {
    display: flex;
    padding: 40px 60px;
}

.toManager {
    position: absolute;
    right: 60px;
    padding: 10px 0;
    font-size: 12px;
}

.toManager:hover {
    color: #BFBFBF;
    cursor: pointer;
}

.toHome {
    font-family: NanumSquareB, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.toHome:hover {
    color: #BFBFBF;
    cursor: pointer;
}

.box {
    margin: 10px 60px;
    display: flex;
    /* border: 1px solid pink; */
}

.content {
    display: block;
    width: 100%;
    padding: 10px 50px;
}

.menu {
    width: 200px;
    height: 550px;
    background-color: white;
    border: 1px solid #D9D9D9;
}

.menuBtn {
    margin: 15px;
    width: 170px;
    height: 50px;
    background-color: transparent;
    color: black;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-family: NanumSquareR, sans-serif;
    font-size: 16px;
}

.menuBtn:hover {
    background-color: #5b9ad524;
    color: black;
}

.menuLink {
    background-color: transparent;
    color: inherit;
    text-decoration: inherit;
}

.menuLink:hover {
    font-family: NanumSquareB, sans-serif;
    color: black;
    cursor: pointer;
}

.on {
    background-color: #5B9BD5;
    color: white;
}

.guide {
    margin-bottom: 15px;
    font-family: NanumSquareB, sans-serif;
    font-size: 20px;
    color: #5B9BD5;
}

.title {
    margin: 20px 0;
    font-family: NanumSquareB, sans-serif;
    font-size: 16px;
    color: black;
}

.subtitle {
    min-width: 120px;
    font-family: NanumSquareR, sans-serif;
    font-size: 14px;
    color: black;
}

.subcontent {
    margin: 10px 0;
}

.subcheck {
    margin: 20px 0;
}

.contentcheck {
    font-size: 14px;
}

.timeBtn {
    display: grid;
}

.timeBtn input[type="checkbox"] {
    display: none;
}

.timeBtn input[type="checkbox"]+span {
    display: inline;
    min-width: 70px;
    text-align: center;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

.timeBtn input[type="checkbox"]:checked+span {
    background-color: #5B9BD5;
    border: 1px solid #5B9BD5;
    color: white;
}

.timeBtn input[type="checkbox"]:hover+span {
    border: 1px solid #BFBFBF;
    background-color: #f0f4f7;
    color: black;
    cursor: pointer;
}

.timeBtn input[type="checkbox"]:disabled+span {
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    color: white;
    cursor: inherit;
}

.btn {
    padding: 10px 50px;
    font-family: NanumSquareB, sans-serif;
    font-size: 16px;
    background-color: transparent;
    color: #5B9BD5;
    border: 1px solid #5B9BD5;
    border-radius: 10px;
}

.btn:hover {
    border: 1px solid#2c71b1;
    color: #2c71b1;
    background-color: #f0f4f7;
    cursor: pointer;
}

.menuImage {
    position: absolute;
    width: 120px;
    height: 80px;
    border-radius: 6px;
    margin-top: 40px;
    margin-bottom: 10px;
    object-fit: cover;
}

.error {
    font-size: 12px;
    margin-left: 120px;
    color: red;
}